<ngx-ui-loader></ngx-ui-loader>
<router-outlet></router-outlet>


<div *ngIf="searchKey" class="searchmodel">
  <div class="fixed left-0 top-0 right-0 bottom-0 pt-24 flex justify-center items-start">
    <div class="block rounded-lg dark:bg-neutral-700 w-96 bg-white border bottom-4">
      <div class="border-b-2 border-neutral-100 px-6 py-3 dark:border-neutral-600 dark:text-neutral-50 bg-slate-200">
        <span>Search Result for {{searchKey|json}}</span><span class="text-red-600 float-right cursor-pointer" (click)="closeSearchBox()">X</span>
      </div>
      <div class="p-6">
        <ul *ngIf="searchUsers; else noRecord">
          <li *ngFor="let user of searchUsers">
            <div class="flex items-center p-1">
              <img *ngIf="user?.userProfile?.profile_img; else elseBlock3" class="rounded-full h-8 w-8 flex mr-3"
                src="{{ imageUrl }}/{{ user?.userProfile?.profile_img }}" />
              <ng-template #elseBlock3><img class="rounded-full w-8 h-8 flex mr-3"
                  src="../../../../assets/default.png" />
              </ng-template>
              <a>
                <a class="font-bold text-sm"  routerLink="/userprofile/{{ user.username }}/{{user.id}}">{{ user.username }}</a>
              </a>

              <button *ngIf="user.isAlreadyFollowed == 'follow'" (click)="doUndoFollowing(user.id, $event)"
                id="user-{{ user.id }}"
                class="ml-auto text-xs font-bold text-white bg-gray-600  py-1 px-auto w-16 rounded">unfollow</button>
              <button *ngIf="user.isAlreadyFollowed == 'pending'" (click)="doUndoFollowing(user.id, $event)"
                id="user-{{ user.id }}"
                class="ml-auto text-xs font-bold text-white bg-gray-600  py-1 px-auto w-16 rounded">requested</button>
              <button *ngIf="!user.isAlreadyFollowed" (click)="doUndoFollowing(user.id, $event)" id="user-{{ user.id }}"
                class="ml-auto text-xs font-bold text-white bg-blue-600  py-1 px-auto w-16 rounded">follow</button>


            </div>
          </li>
        </ul>
        <ng-template #noRecord>
          <p>No Records Found</p>
        </ng-template>
      </div>

    </div>
  </div>
</div>

