<app-header></app-header>

<h3 class="font-bold text-2xl p-3 m-3">Notifications</h3>
<hr />

<div class="flex-col">
  <div class="p-2 m-2 font-bold">Follow requests</div>
  <div *ngFor="let object of allFollowers" [ngClass]="{'border-gray-300': object.read==1, 'border-pink-600 shadow-sm shadow-pink-400': object.read==0}" class="p-3 m-3 border border-gray-300 rounded-md">
    <h3 *ngIf="!object.read">New Notifications</h3>
    <div class="flex justify-between items-center">
      <div class="flex items-center">
        <img *ngIf="object.userFollower.user.userProfile.profile_img; else elseBlock" class="rounded-full w-8 h-8 flex mr-3" src="{{imageUrl}}/{{object.userFollower.user.userProfile.profile_img}}" />
        <ng-template #elseBlock><img class="rounded-full w-8 h-8 flex mr-3" src="../../../../assets/default.png" /></ng-template>
        <p *ngIf="object.userFollower.status == 'Pending'">
          <span class="font-bold">
            {{ object.userFollower.user.username }}
          </span>
          {{ object.message
          }}<span class="text-gray-400">{{ object.createdAt | date }}</span>
        </p>
        <p *ngIf="object.userFollower.status == 'Accept'">
          <span class="font-bold">
            {{ object.userFollower.user.username }}
          </span>
          {{ object.message }}
          <span class="text-gray-400">{{ object.createdAt | date }}</span>
        </p>
      </div>

      <div *ngIf="object.userFollower.status == 'Pending'" class="flex" id="action-{{ object.id }}">
        <button (click)="
            actionFollowRequest(
              object.userFollower.id,
              object.userFollower.followerId,
              'Accept',
              $event
            )
          " id="accept-{{ object.userFollower.id }}" class="text-sm m-1 px-2 py-1 bg-blue-600 rounded-md text-white">
          Confirm
        </button>
        <button (click)="
            actionFollowRequest(
              object.userFollower.id,
              object.userFollower.followerId,
              'Reject',
              $event
            )
          " id="delete-{{ object.userFollower.id }}" class="text-sm m-1 px-2 py-1 bg-gray-600 rounded-md text-white">
          Delete
        </button>
      </div>
      <div *ngIf="object.userFollower.status == 'Accept'" class="flex">
        <button class="text-sm m-1 px-2 py-1 bg-gray-600 rounded-md text-white">
          Following
        </button>
      </div>
    </div>
  </div>

  <hr />
  <div class="p-2 m-2 font-bold">Other Notifications</div>
  <div *ngFor="let ele of allnotifications" [ngClass]="{'border-gray-300': ele.read==1, 'border-pink-600 shadow-sm shadow-pink-400': ele.read==0}" class="p-3 m-3 border border-gray-300 rounded-md">
    <h3 *ngIf="!ele.read">New Notifications</h3>
    <div class="flex justify-between items-center">
      <div *ngIf="ele?.likedPost" class="flex items-center">
        <img *ngIf="ele?.likedPost?.user?.userProfile?.profile_img; else elseBlock" class="rounded-full w-8 h-8 flex mr-3" src="{{imageUrl}}/{{ele.likedPost.user?.userProfile?.profile_img}}" />
        <ng-template #elseBlock><img class="h-8 w-8 rounded-full flex mr-3" src="../../../../assets/default.png" /></ng-template>
        <p>
          <span class="font-bold">{{ ele?.likedPost?.user?.username }}</span>
          {{ ele.message
          }}<span class="text-gray-400">{{ ele.createdAt | date }}</span>
        </p>
      </div>
      <div *ngIf="ele?.cmtPost" class="flex items-center">
        <img *ngIf="ele?.cmtPost?.user?.userProfile?.profile_img; else elseBlock" class="rounded-full w-8 h-8 flex mr-3" src="{{imageUrl}}/{{ele.cmtPost.user?.userProfile?.profile_img}}" />
        <ng-template #elseBlock><img class="h-8 w-8 rounded-full flex mr-3" src="../../../../assets/default.png" /></ng-template>
        <p>
          <span class="font-bold">{{ ele?.cmtPost?.user?.username }}</span>
          {{ ele.message
          }}<span class="text-gray-400">{{ ele.createdAt | date }}</span>
        </p>
      </div>
     
    </div>
  </div>
</div>
