<app-header></app-header>

<div class="grid grid-cols-4 gap-4 mb-6">
  <div class="overflow-y-scroll max-h-screen col-span-4 md:col-span-3">
    <!-- post -->
 

    <app-feeds [feeds]="feeds" [user]="user">
    </app-feeds>

  </div>

  <!-- username -->

  <div class="hidden md:block col-span-1 justify-center items-center">
    <div class="flex">
      <div class="rounded-full p-1 flex items-center">
        <img class="h-16 rounded-full border border-gray-100 shadow-sm"
          src="https://randomuser.me/api/portraits/women/81.jpg" alt="user image" />
      </div>
      <div class="m-3">
        <p *ngIf="user" class="font-bold text-sm">{{ user.username }}</p>
        <p *ngIf="user" class="text-sm">
          {{ user.firstname }} {{ user.lastname }}
        </p>
      </div>
    </div>
    <hr />
    <p class="text-sm font-bold mx-3 p-3">Suggetion for you</p>
    <hr />

    <div *ngFor="let singleuser of allUsers" class="mx-2 flex flex-row items-center align-items justify-between pt-3">
      <div class="flex items-center justify-between">
        <img class="rounded-full w-8 flex mr-3" src="../../../assets/Logo-facebook.png" />
        <a>
          <p class="font-bold text-sm">{{ singleuser.username }}</p>
        </a>
      </div>
      <button (click)="doUndoFollowing(singleuser.id,$event)" id="user-{{singleuser.id}}" class="text-xs font-bold text-blue-700">{{btnName}}</button>

    </div>
  </div>
</div>
